{% extends "layout/base.html" %}

{% block main %}
<div class="row min-vw-100 h-50 pt-5">
    <div class="container-fluid col-md-4 ">
        <form action="{% url 'calculadora' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-info mt-3 mx-auto d-block w-100">Calcular</button>
        </form>
    </div>
    <div class="col-md-8">
        <h2 class="text-md-center">Calculado</h2>
        <p>
            {{ consumo_actual }}
        </p>
    </div>
    <div class="col-md-12 mt-5 border-dark">
        <h3 class="text-center text-decoration-underline text-link-dark">Links a los cuadros tarifarios respectivos</h3>
        <a href="" class="btn btn-primary w-50 mt-3">Empresa 1 TARIFA RESIDENCIAL</a>
        <a href="" class="btn btn-primary w-50 mt-3">Empresa 2 TARIFA RESIDENCIAL</a>
        <a href="" class="btn btn-primary w-50 mt-3">Empresa 3 TARIFA RESIDENCIAL</a>
        
    
    </div>
</div>



{% endblock main %}